@media only screen and (min-width: 1018px) and (max-width: 1280px) {
}

@media only screen and (min-width: 769px) and (max-width: 1017px) {
}


@media only screen and (max-width: 768px) {

	.button + .button {
		margin-left: 0px;
	}
	.button { margin-right: 6px; }
	
	.logo_gallery .pic img {
		margin: 0 auto 20px;
	}
	.logo_gallery.left_border {
		box-shadow: none;
		border-left: 0;
	}
}


@media only screen and (min-width: 480px) and (max-width: 768px) {
}


@media only screen and (max-width: 480px) {

}